# DON'T FORGET TO RENAME TO .env OR .env.local BEFORE PUSHING TO GIT

### DEVELOPMENT ONLY VARIABLES
# These variables need to be set for local development only

# Mandatory next-auth URL for localhost
NEXTAUTH_URL=http://app.localhost:3000
 
### PRODUCTION & DEVELOPMENT VARIABLES
# These variables need to be set for local development and when deployed on Vercel

# Change this to your own domain
NEXT_PUBLIC_ROOT_DOMAIN=codemaster.cloud

# PostgreSQL database URL – get one here: https://vercel.com/docs/storage/vercel-postgres/quickstart
# POSTGRES_PRISMA_URL=postgres://default:r7vskJf0HoMn@ep-silent-sky-32560803-pooler.us-east-1.postgres.vercel-storage.com/verceldb?pgbouncer=true&connect_timeout=15
# POSTGRES_URL_NON_POOLING=postgres://default:r7vskJf0HoMn@ep-silent-sky-32560803.us-east-1.postgres.vercel-storage.com/verceldb
# 
# Vercel Blob Storage for image uploads – currently in beta, please fill out this form for access: https://tally.so/r/nPDMNd. Setup instructions: https://vercel.com/docs/storage/vercel-blob/quickstart
# BLOB_READ_WRITE_TOKEN=vercel_blob_rw_m8K6N5i4ROSzDBep_YQXjdAhUndDxqiWNs24hn2lDwatep9

# GitHub OAuth secrets for auth & login – generate these here: https://github-client-generator.vercel.app/
NEXTAUTH_SECRET=115f4412c94ecbf5ef4058c35ddf7711
AUTH_GITHUB_ID=Iv1.1d9ba5b5b47b64ea
AUTH_GITHUB_SECRET=c151b5476039c40995f72805c60e7aff1e64f27f

# Vercel authentication token that can be found here: https://vercel.com/account/tokens
AUTH_BEARER_TOKEN=A9mkYDeoidAe0A7dPFURZgou
# Vercel Project ID that can be found here: https://vercel.com/<org>/<project>/settings
PROJECT_ID_VERCEL=prj_3wtvUuhTIRMGxEtdOEPbb19buXc8
# Vercel Team ID that can be found here: https://vercel.com/teams/<org>/settings
# Only required if you're using this with a Vercel team
TEAM_ID_VERCEL=

# OpenAI API key for AI text generation – get one here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=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
